<section class="mt-24">
	<div id="parent" class="flex flex-wrap justify-center gap-6">
		<div id="div1">
			<iframe
				src="https://assets.pinterest.com/ext/embed.html?id=8866530509868609"
				height="583"
				width="345"
				frameborder="0"
				scrolling="no"></iframe>
		</div>
		<div id="div2">
			<iframe
				src="https://assets.pinterest.com/ext/embed.html?id=710583647491631808"
				height="618"
				width="345"
				frameborder="0"
				scrolling="no"></iframe>
		</div>
		<div id="div3">
			<iframe
				src="https://assets.pinterest.com/ext/embed.html?id=651051689896188428"
				height="618"
				width="345"
				frameborder="0"
				scrolling="no"></iframe>
		</div>
		<div id="div4">
			<iframe
				src="https://assets.pinterest.com/ext/embed.html?id=211174976464787"
				height="531"
				width="345"
				frameborder="0"
				scrolling="no"></iframe>
		</div>
		<div id="div5">
			<iframe
				src="https://assets.pinterest.com/ext/embed.html?id=934848835124277892"
				height="569"
				width="345"
				frameborder="0"
				scrolling="no"></iframe>
		</div>
		<div id="div6">
			<iframe
				src="https://assets.pinterest.com/ext/embed.html?id=191966002858645149"
				height="626"
				width="345"
				frameborder="0"
				scrolling="no"></iframe>
		</div>
		<div>
			<iframe
				src="https://assets.pinterest.com/ext/embed.html?id=46513808648590948"
				height="560"
				width="345"
				frameborder="0"
				scrolling="no"></iframe>
		</div>
		<div>
			<iframe
				src="https://assets.pinterest.com/ext/embed.html?id=429460514488064058"
				height="601"
				width="345"
				frameborder="0"
				scrolling="no"></iframe>
		</div>
	</div>
</section>
